<configuration>
    <!-- Simple logging config. -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="main.ca.sysc3303.logger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- You can change the level here for debug/trace but please put it back to info after finishing -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>